<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.assa.mapper.NBoardMapper">
	<insert id="create">
		insert into board_normal (
		nick
		,subject
		,content
		,password
		,category
		) VALUES (
		#{nick}
		,#{subject}
		,#{content}
		,#{password}
		,#{category}
		)
	</insert>

	<select id="read" resultType="com.assa.domain.NBoardVO">
		select bn_index
		, nick
		, subject
		,content
		, password
		, reg_date
		, category
		from board_normal
		where bn_index
		= #{bn_index}
	</select>

	<update id="update">
		update board_normal
		SET
		subject = #{subject}
		,content =
		#{content}
		,category = #{category}
		WHERE
		bn_index
		= #{bn_index}
	</update>

	<delete id="delete">
		delete from board_normal where bn_index
		= #{bn_index}
	</delete>

	<select id="listAll" resultType="com.assa.domain.NBoardVO">
 <![CDATA[
 SELECT bn_index, nick, subject, content, password, reg_date, category
FROM board_normal 
WHERE bn_index>0
ORDER BY bn_index DESC , reg_date DESC
 ]]>
	</select>
</mapper>
  