<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.assa.mapper.PBoardMapper">
	
	<insert id="addFile">
		insert into		file(
					fileName,
					bp_index
		)
		values(
					#{fileName},
					LAST_INSERT_ID()
		)
	</insert>
	<select id="getFile" resultType="String">
		select		fileName
		from		file
		where		bp_index=#{bp_index}
		order by	reg_date
	</select>
	 <insert id="create">
	 insert into board_product (
	 			product_name,product_price,content,thumbnail,category,category_detail
	 ) 
	 values(
	 			#{product_name},#{product_price},#{content},#{thumbnail}, #{category}, #{category_detail}
	 )
	 </insert>
	
	 <select id="read" resultType="PBoardVO">
	 select 	*
	 from		board_product 
	 where		bp_index = #{bp_index}
	 </select>
	
	 <update id="update">
	 update 	board_product 
	 set 		content = #{content} 
	 where 		bp_index = #{bp_index}
	 </update>
	
	 <delete id="delete">
	 delete from board_product 
	 where		 bp_index = #{bp_index}
	 </delete>
	
	 <select id="listAll" resultType="ProductVO">
	 <![CDATA[
	 select		*
	 from		product 
	 where 		product_index > 0
	 and		category_detail=#{category_detail}
	 order by 	product_index desc, reg_date desc
	 ]]>  
	 </select>
	
	  <select id="listCriteria" resultType="PBoardVO">
	 <![CDATA[
	 select		*
	 from		board_product 
	 where 		bp_index > 0 
	 and		category_detail=#{category_detail}
	 order by 	bp_index desc, reg_date desc
	 limit 		#{cri.pageStart}, #{cri.perPageNum}
	 ]]>  
	 </select>	
	
	 <select id="countPaging" resultType="int">
	 <![CDATA[
	 select		count(bp_index) 
	 from		board_product 
	 where		bp_index > 0 
	 and		category_detail=#{category_detail}
	 ]]>
	 </select>
	
	
	<!-- 
	<sql id="search">
	 <if test="searchType != null" > 
	   <if test="searchType == 't'.toString()">
	     and title like CONCAT('%', #{keyword}, '%')
	   </if>
	   <if test="searchType == 'c'.toString()">
	     and content like CONCAT('%', #{keyword}, '%')
	   </if>
	   <if test="searchType == 'w'.toString()">
	     and writer like CONCAT('%', #{keyword}, '%')
	   </if>     
	   <if test="searchType == 'tc'.toString()">
	     and ( title like CONCAT('%', #{keyword}, '%') OR content like CONCAT('%', #{keyword}, '%'))
	   </if>        
	   <if test="searchType == 'cw'.toString()">
	     and ( content like CONCAT('%', #{keyword}, '%') OR writer like CONCAT('%', #{keyword}, '%'))
	   </if>        
	   <if test="searchType == 'tcw'.toString()">
	     and (   title like CONCAT('%', #{keyword}, '%') 
	           OR 
	             content like CONCAT('%', #{keyword}, '%') 
	           OR 
	             writer like CONCAT('%', #{keyword}, '%'))
	   </if>              
	 </if>  
	</sql>
	 
	<select id="listSearch" resultType="BoardVO">
	<![CDATA[  
	  select * 
	  from tbl_board 
	  where bno > 0 
	]]>  
	
	  <include refid="search"></include>
	  
	<![CDATA[    
	  order by bno desc
	  limit #{pageStart}, #{perPageNum}
	]]>  
	</select>
	  
	<select id="listSearchCount" resultType="int">
	<![CDATA[  
	  select count(bno) 
	  from tbl_board 
	  where bno > 0 
	]]>
	  <include refid="search"></include>
	 
	</select>  
	
	<delete id="deleteAttach">
		delete from tbl_attach
		where		bno=#{bno}
	</delete>
	<insert id="replaceAttach">
		insert into	tbl_attach(fullName,bno)
		values		(#{fullName},#{bno})
	</insert>
	<select id="getAttach" resultType="String">
		select 	fullName
		from	tbl_attach
		where	bno=#{bno}
		order by regdate
	</select> -->
</mapper>
  